/* DOCUMENT INFORMATION
	- Document: Portfolio Theme
	- Version:  0.0.1
	- Author:   Pedro d'Oliveira
*/

/* CSS DIRECTORY
	1. =GLOBAL
    2. =PRIMARY
    3. =NAV
    4. =HEADER
    5. =PROJECTS
    6. =SKILLS
    7. =FOOTER
    8. =MEDIA QUERIES
*/

/* COLORS
    - default body text  #212121
    - primary color: #1034A6 (blue)
    - contrast color: #FFDD00 (yellow)
*/

/* FONTS
	- default body Montserrat, Arial, sans-serif
	- headings   Montserrat, Arial, sans-serif
*/



/* ===GLOBAL=== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap');

*{
    font-family: Montserrat, Arial, sans-serif;
}

body{
    background-color: #FBFBFB;
}

/* Lists */

ul{
    margin: 0;
    padding: 0;
}

li{list-style-type: none;}

/* Links */
a:link {
    color: #0080FF;
    text-decoration: none;
}

a:visited {
    color: #0080FF;
    text-decoration: none;
}

a:hover {
    color: #0080FF;
    text-decoration: underline;
}

a:active {
    color: #0080FF;
    text-decoration: underline;
}

a.button{
    padding: 16px 40px;
    background-color: yellow;
    border-radius: 100px;
    color: rgb(0,0,0,.8);
    font-weight: 700;
    display: inline-block;
}

h1{
    font-size: 52px;
    color: #1034A6;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 600;
}

h2{
    font-size: 40px;
    color: #1034A6;
    font-family: Montserrat, Arial, sans-serif;
}

.box-pad{
    padding-right: 150px;
    padding-left: 150px;
}

/* ===NAV=== */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
}

nav li{
    display: inline;
    margin-right: 16px;
}

nav li:last-child{
    margin: 0;
}

nav a {
    font-weight: 500;
    text-decoration: none;
}

/* ===HEADER=== */
header {
    box-sizing: border-box;
    display: flex;
    padding-top: 100px;
}

header h1{
    margin-top: 200px;
    margin-bottom: 1rem;
}

#position, #location {
    color: #1034A6;
}

#position{
    font-size: 32px;
}

#location {
    margin-top: 3rem;
    opacity: .7;
}


header .img-container{
        position: relative;
        height: 400px;
        width: 400px;
        flex-shrink: 0;
}

header .img-container:hover{
    cursor: pointer;
}


#floating-ball{
    display: inline-block;
    background: rgb(16,52,166);
    background: linear-gradient(336deg, rgba(16,52,166,1) 0%, rgba(0,212,255,1) 100%); 
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 0;
    animation: float 6s ease-in-out infinite, scale 5500ms ease-in-out infinite;
}

header .img-container img{
        width: auto;
        z-index: 1;
        height: auto;
        position: absolute;
        left: 0;
        bottom: 0;
        max-height: 400px;
        max-width: 100%;
        transform-origin: left top;
        animation: float 6s ease-in-out infinite;
}


#target{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    opacity: 0;
    animation: indicator 800ms ease-in-out 2    ;
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% - 20px);
    z-index: 3;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-15px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes scale {
	0% {
		transform: scale(.94);
	}
	50% {
        transform: scale(1);
	}
	100% {
		transform: scale(.94);
	}
}

@keyframes indicator {
	0% {
        transform: scale(.5);
        opacity: 0;
        box-shadow: 0 10px 5px rgba(0,0,0,.2);
	}
    50% {
        transform: scale(1);
        opacity: 8;
        box-shadow: 0 12px 5px rgba(0,0,0,.3);
	}
	100% {
        transform: scale(.1);
        opacity: 0;
        box-shadow: 0 10px 5px rgba(0,0,0,.2);
	}
}

header .container{
    margin-left: 80px;
}

/* ===PROJECTS=== */

#projects {
    margin-top: 15%;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
}


article{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.project-card{
    display: inline-block;
    background-color: #F1F1F1;
    border-radius: 8px;
    border: 1px solid lightgrey;
    box-sizing: border-box;
    margin-bottom: 32px;
}

.project-card:last-child{
    margin-right: 0;
}

.project-card .img-container{
    width: 100%;
    padding-top: 56.25%;
    background: rgb(16,52,166);
    background: linear-gradient(336deg, rgba(16,52,166,1) 0%, rgba(0,212,255,1) 100%); ;
}

.project-details{
    padding: 8px 16px;
}

.tech-used li{
    display: inline;
}

.tech-used li img {
    height: 24px;
    width: 24px;
}

/* ===SKILLS=== */
#skills li{
    display: inline;
    margin-right: 24px;
}


#skills img{
    height: 56px;
    width: 56px;
}

/* ===CONTACTS=== */
#contact{
    margin-top: 100px;
}
#email, #social-media{
    padding-top: 50px;
    padding-bottom: 100px;
}

#email{
    background-color: #0080FF;
}
#social-media{
    background-color: #1D2951;
}

#contact h3{
    color: white;
    font-size: 40px;
    font-weight: 700;
}

/* ===FOOTER=== */

footer{
    padding-top: 40px;
    padding-bottom: 40px;
}
footer .container {
    display: flex;
    justify-content: space-between;
}

footer  span{
    color:#707070;
    font-size: 300;
}

footer a{
    color: #707070 !important;
}

footer li{
    margin-bottom: 4px;
    font-size: 14px;
}


/* ===MEDIA QUERIES=== */

@media (max-width: 600px)
{
   #position{
       font-size: 24px;
   }

   h2{text-align: center;}
   .box-pad{
       padding-right: 24px;
       padding-left: 24px;
    }

    nav{display: none;}

    header{
        text-align: center;
        flex-direction: column;
        height: auto;
        padding-top: 56px;
    }

    header .container{
        display: flex;
        flex-direction: column;
        margin-left: 0;
    }
    header h1{
        margin-top: 56px;
    }

    #location{margin-top: 1rem;}

    header .img-container{
        height: 260px;
        width: 260px;
        align-self: center;
    }

    header .img-container img{
        max-height: 260px;
    }
    
    #floating-ball{
        width: 200px;
        height: 200px;
    }

    #projects {
        margin-top: 40%;
    }

    .grid-container{
        grid-template-columns: 1fr;
    }

    .project-card{
        margin-right: 0;
        width: auto;
    }

    #contact{
        text-align: center;
    }
    #social-media, #email{
        display: flex;
        flex-direction: column;
    }

    #social-media a{
        margin-bottom: 24px;
    }

    #social-media a:last-child{
        margin-bottom: 0;
    }

    footer div{
        flex-direction: column;
        text-align: center;
    }
    footer div li{
        margin: 16px 0;
    }
}
